@import url('https://fonts.googleapis.com/css2?family=Lato&family=Source+Code+Pro:ital,wght@0,300;0,400;1,300;1,400&display=swap');

:root{
    --TopBarMargin: 64px;
    --MainColor: black;
    --SecondaryColor: #202020;
    --Highlight: #0066ff;
    --SubHeaderColor: darkgray;
    --TextColor: ghostwhite;
    --Gif: url("https://thumbs.gfycat.com/ZanyFrankGar-size_restricted.gif");

}

html{
    width: 100%;
    height: 100vh;
}
body{
    width: 100%;
    height: 100vh;
}

p {
    font-family: 'Lato', sans-serif;
    color: var(--MainColor);
}

h1,h2,h3{
    font-family: 'Source Code Pro', monospace;
    color: var(--SecondaryColor);
}
h4,h5,h6 {
    font-family: 'Source Code Pro', monospace;
    color: var(--SubHeaderColor);
}


.w3-black {
    background-color: var(--MainColor);
    color: var(--TextColor);
}

.w3-active {
    background: var(--Gif);
    color: var(--TextColor);
    border-right: 1px solid var(--MainColor)!important;
}
.w3-button:hover{
    background-color: var(--MainColor)!important;
    color: var(--TextColor)!important;
    text-underline: 1px solid var(--TextColor)!important;
}

.topbar {
    position: fixed;
    top: 0;
    max-height: var(--TopBarMargin);
    width: 100%;
}

hr {
    background: var(--Gif);
    height: 4px;
    border: none;
    margin: 0;
}

.debug {
    border: red;
}

.editor{
    min-height: 100%;
    height: 324px;
    border: 1px solid #ccc;
    overflow-y: scroll;
    overflow-x: scroll;
}

#NotesEditor>div{
    height: 100%;
}
